@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("resources/IMG_3585.JPG");
	z-index: 0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 25px;
}

.header {
	padding-bottom: 80px;
}

.portrait {
	border-radius: 50%;
	border: solid black 2px;
	display: block;
	height: 20%;
	width: 20%;
	margin-top: 80px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 40px;
	text-align: center;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
	width: max-content;
}

h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	width: max-content;
}

.name {
	background: #bf7f7db4;
	border-radius: 10px;
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 40%;
}

.navbar {
	list-style-type: none;
	height: min-content;
	overflow: hidden;
	background-color: #de9778;
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	z-index: 9999;
	top: 0;
}

.tab {
	float: left;
	height: 60px;
	padding: 15px 17px;
}

a.tab {
	color: white;
	text-align: center;
	display: block;
	text-decoration: none;
}

#resume {
	padding: 6px;
	float: right;
	padding-bottom: 0px;
	display: inherit;
	height: 60px;
	width: auto;
}

#linkedin {
	padding: 8px;
	float: right;
	display: inherit;
	height: 60px;
	width: auto;
}

#email {
	padding: 5px 8px;
	float: right;
	display: inherit;
	height: 60px;
	width: auto;
}

.tab:hover {
	background-color: #c86559;
}
/* float clearing for IE6 */

* html .clearfix {
	height: 1%;
	overflow: visible;
}
/* float clearing for IE7 */

*+html .clearfix {
	min-height: 1%;
}
/* float clearing for everyone else */

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.content {
	width: inherit;
	padding: 1% 5%;
	background-color: #bf7f7db4;
	display: block;
	margin-top: 100px;
	padding-bottom: 40px;
	overflow: hidden;
}

.aboutme {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
}

.edu_split {
	margin-top: 10px;
	width: 50%;
	height: inherit;
	float: left;
	background: inherit;
}

.edu_split.right {
	padding-left: 8%;
	margin-top: 20px;
}

.school {
	margin: 0px 40px;
}

.school_header {
	width: min-content;
}

.text_link{
	text-decoration: none;
	color:#de9778;
}

.text_link:hover{
	color: rgb(7, 4, 56); 
}

.collapsible_vert.active,
.collapsible_vert:hover {
	background-color: #c86559;
}

.collapsible_vert {
	background-color: #de9778;
	color: white;
	cursor: pointer;
	margin-top: 20px;
	padding: 18px;
	width: 100%;
	border: 1px solid black;
	text-align: center;
	outline: none;
	font-size: 20px;
}

.school_dropdown {
	padding: 2%;
	margin-left: inherit;
	margin-top: 10px;
	width: 100%;
	display: none;
	border: 1px solid black;
	overflow: hidden;
	background-color: #eaa068;
	font-size: 20px;
	display: none;
	flex-direction: column;
}

.subtitle {
	font-size: 20px;
	margin-top: 3%;
	margin-bottom: 2%;
}

.bullets {
	list-style-type: square;
	padding-left: 8%;
}

.line {
	margin: 20px 0px;
	border: 2px solid black;
}

.exp_section {
	margin-top: 100px;
}

.exp_heading {
	width: min-content;
	display: table;
}

.location {
	font-size: 17px;
	width: max-content;
}

.exp_body {
	clear: both;
	height: max-content;
}

.exp_split {
	margin-top: 10px;
	width: 50%;
	height: inherit;
	background: inherit;
	display: inline-block;
}

.exp_split.left {
	width: 70%;
}

.exp_split.right {
	width: 26%;
	height: auto;
	padding: 0% 1%;
}

.logo {
	width: 110%;
}

.proj_header {
	width: 80%;
	margin: 0 auto;
}

.navbar#proj_bar {
	width: inherit;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	/* background: rgb(7, 4, 56);
	border: 2px solid black; */
	background: none;
	z-index: 0;
}

.proj_dropdown {
	display: none;
	margin-top: 20px;
	padding: 30px;
	background: #eaa068;
	border: 1px solid black;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}

.proj_body {
	margin-top: 50px;
	width: inherit;
	text-align: left;
}

.proj_body h2 {
	text-decoration: underline;
}

.proj_split {
	margin-top: 10px;
	display: inline-block;
}

.proj_split.left {
	width: 75%;
}

.proj_split.right {
	width: 20%;
}

.proj_pictures {
	width: 250px;
	margin-left: 20px;
	height: auto;
}

.in_progress {
	margin-top: 30px;
	text-align: center;
}

.inner {
	padding: 1% 5%;
	margin: 0 auto;
	font-family: 'Libre Baskerville', serif;
}

.footer_name {
	text-align: left;
}

.footer_right {
	float: right;
	text-decoration: none;
}

.link {
	text-decoration: none;
	color: black;
}
